# --- Base de donnees ---
DB_NAME=stages_db
DB_USER=postgres
DB_PASS=Mentalist1986

# --- Securite ---
JWT_SECRET=xWgXGvLJnPrcllHe+nw3pryJu8vNEOj3ViiB3GOrUy9etb/jl8i/l+WucAFe45Ib


# --- Ports exposes sur la machine hote ---
ANGULAR_PORT=4206
REACT_PORT=4207
API_PORT=8084
DB_PORT=5435
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# --- Stockage MinIO ---
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# --- Email (optionnel) ---
MAIL_USERNAME=
MAIL_PASSWORD=